/* todas las paginas */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
/* footer*/
.footer{
    text-align: center;
    color: #4a362f ;
    font-size: 20px;
    background-color: #978f84 ;
    border-top-right-radius:30px;
    border-top-left-radius: 30px;
    height: 45px;
    padding-top: 15px;
    padding-bottom: 20px;
    width: 1290px;
    margin-left: 80px;
    border: 2px solid #4a362f;
    margin-top: 100px;
   }

/* footer*/

.fondo{
    background-color:  #f7f6f2;
}

/* header */

.linksheader{
    margin-left: 1290px;
}

.navegador1{
    display: flex;
    justify-content: center;
    margin-top: 5px;
 }
 
 .navegador{
    background-color:  #978f84;
    color: #978f84;
    margin: 15px;
    margin-top: 5px;
    width: 250px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #4a362f;
}
    

.nav{
    margin-top: 10px;
}

 .logo{
    height: 150px;
    width: auto;
   
}
.logo1{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.fondoheader{
    background-color: #f7f6f2;
}

/* header */

/* todas las paginas */

/* registro/login/recuperar contraseña */

.formulario{
width: 400px;
background-color:#978f84;
padding: 35px;
margin: auto;
margin-top: 100px;
border-radius: 4px;
color:  #4a362f  ;
}

.formulario h2{
   font-size: 40px;
   margin-bottom:20px; 
}

.controles{
    width: 100%;
    background-color: #f7f6f2;
    padding: 10px;
    border-radius: 4px;
    margin-bottom:16px ;
    border: 1px solid #978f84;
    font-size: 17px;
}

.tyc{
    text-align: center;
    font-size: 18px;
}

.boton{
    width: 100%;
    border: 1px solid#978f84;
    padding: 12px;
    color: #978f84;
    margin: 16px 0;
    font-size: 16px;
}

.linksformulario{
    text-align: center;
}
/* boton comprar*/
.comprar{
    font-size: 20px;
    width: 15%;
    border: 1px solid#978f84;
    padding: 12px;
    color: #978f84;
    margin: 16px 0;
    text-align: center;

}


/* registro/login/recuperar contraseña */

/* tyc */

.terminos{
   text-align: justify;
   margin-top: 40px;
   margin-bottom: 10px;
   margin-left: 400px;
   margin-right: 350px;
}

.terminosycondiciones{
   text-align: center;
   margin-top: 15px;
   text-decoration: underline;

}

.terminos a{
    text-align: center;
    margin-left: 300px;
}

/* tyc */

/*  home.html */
  
div.contenedorpadre{
    background-color:#f7f6f2;
    padding-left: 15px;
    padding-right: 15px;
    height: 1000px;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;

}
img.im{
    height: 100px;
    margin-left:  10px;
    margin-top: 7px;
    border: 2px solid #4a362f;
}

section.Accesorios{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    color: #4a362f;
}

p.descriphome{
    text-align: justify center;
}

div.cajashome{
    background-color: #978f84;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 13px;
    padding-top:7px;
    border: 2px solid #4a362f;
    border-radius: 10px;
}

button.botoneshome{
    background-color:#d9d9db;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top:2px;
    border-radius: 4px;
    margin-top: 3px;

}
h2.tituloindex{
    color:#d9d9db;
    margin-left: 40px;
    background-color: #4a362f;
    margin-left:  10px;
    margin-top: 7px;
    border: #4a362f;
    border: 5px solid #4a362f;
}

/* home.html */

/* detalle de porducto */
  
.productos{
    width: 400px;
    background-color:#978f84;
    padding: 35px;
    margin: auto;
    margin-top: 100px;
    border-radius: 5px;
    color: #978f84 ;
    border: 3px solid #4a362f;

}

.productos h1{
    font-size: 40px;
    margin-bottom:20px; 
    color: #4a362f;
}

.productos img{
    margin-top: 8px;
    margin-bottom: 8px;
    width: auto;
    height: 200px;
}

.productos h3{
    margin-top: 10px;
    font-size: 25px;
    color: #4a362f;
}

.productos p{
    color: #4a362f;
}

.boton{
    border: 2px solid #4a362f;
}



/* detalle de porducto */

/*category*/
h2.titulocategory{
    color:#d9d9db;
    margin-left: 40px;
    background-color: #4a362f;
    margin-left:  10px;
    margin-top: 58px;
    border: #4a362f;
    margin-bottom: 60px;
    margin-right: 30px;
    border: 5px solid #4a362f; 
}
body.backgroundcategory{
    background-color:#f7f6f2;
}
/*category*/








/* responsive */

@media (width <= 1280px) /* medida Next hub max (para compu) */{
/* todas las paginas */
    .footer{
        margin-left: 10px;
        margin-top: 80px;
    }

    .linksheader{
        margin-left: 1000px;
    }

    .fondoheader{
        margin-left: 85px;
        }
/* todas las paginas*/

    /* producto */
   
    section.Accesorios{
        margin-left: 50px;
        margin-top: 100px;
    }

    /* producto */
}

@media (width <= 375px) /*medida Iphone SE (para celular)*/ {

    /* category y index */
    .fondoheader{
        margin-left: 700px;
    }
    .footer{
        margin-left: 100px;
    }

    .linksheader{
       
    }

    section.Accesorios{
       display:flex;
       flex-direction: column;
       margin-left: 600px;
       margin-top: 200px;
       margin-bottom: 300px;
       width: 200px;
       align-self: center;
       justify-content: space-between;
    }


    .cajashome{
        margin-bottom: 150px;
    }
    .fondoindex{
        width: 420px;
        height: 800px;
    }
    h2.tituloindex{
        text-align: center;
        color: aqua;
        margin-left: 100px;
    }
}
    /* category */

    

/* responsive */