/* todas las paginas */
.footer{
    text-align: center;
    color:#978f84;
    font-size: 20px;
    background-color:#d9d9db;
    border-top-right-radius:30px;
    border-top-left-radius: 30px;
    height: 45px;
    padding-top: 15px;
    padding-bottom: 20px;
    width: 1290px;
    margin-left: 105px;
   }

.fondo{
    background-color:  #f7f6f2;
}

/* todas las paginas */

/* registro */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.registro{
width: 400px;
background-color: #d9d9db;
padding: 35px;
margin: auto;
margin-top: 100px;
border-radius: 4px;
color: #978f84 ;
}

.registro h2{
   font-size: 40px;
   margin-bottom:20px; 
}

.controles{
    width: 100%;
    background-color: #d9d9db;
    padding: 10px;
    border-radius: 4px;
    margin-bottom:16px ;
    border: 1px solid #978f84;
    font-size: 17px;
}

.tyc{
    text-align: center;
    font-size: 18px;
}

.boton{
    width: 100%;
    border: 1px solid#978f84;
    padding: 12px;
    color: #978f84;
    margin: 16px 0;
    font-size: 16px;
}

.paralogin{
    text-align: center;
}

.footer{
margin-top: 162px;
}
/* registro */
/* tyc */

.terminos{
   text-align: justify;
   margin-top: 40px;
   margin-bottom: 10px;
   margin-left: 400px;
   margin-right: 350px;
}

.terminosycondiciones{
text-align: center;
margin-top: 15px;
text-decoration: underline;

}

.terminos a{
    text-align: center;
    margin-left: 300px;
}

/* tyc */

/* comienzo de edicion de home.html */

body.mainstructure{
    
}
div.contenedorpadre{
    background-color:#4a362f;
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;

}
img.im{
    height: 100px;
}

